/* Import Fonts & Navigation bar CSS */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Audiowide', sans-serif;
font-family: 'Montserrat', sans-serif; */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#2F2E2E;
    --main-color:#2453FE;
    --btn-gray:#484747;
    --text-box:#A09B9B; 
}
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}
nav .menu ul li{
    cursor: pointer;
    display: inline;
    font-size: 14px;
    padding-left: 15px;
    transition: 1s;
}
nav .menu ul li:hover{
    color: var(--main-color);
}
.sign-up{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    padding: 10px 18px;
    font-size: 16px;
    width: 140px;
    border-radius: 32px;

}
.sign-up img{
    position: relative;
    left: 5px;
    width: 30px;
    height: 30px;
    
}
.container{
    padding: 25px 60px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*change font*/
h1{
    font-family: 'Audiowide', sans-serif;
}
::placeholder{
    font-family: 'Montserrat', sans-serif;
}


